<div class="filter-buttons">
  <button class="filter-btn active" data-filter="all">All</button>
  <button class="filter-btn" data-filter="Python">Python</button>
  <button class="filter-btn" data-filter="AWS">AWS</button>
  <button class="filter-btn" data-filter="Go">Go</button>
  <button class="filter-btn" data-filter="NodeJS">NodeJS</button>
</div>

<div class="card-list">
  {% for project in site.data.home.project_entries %}
    <a href="{{ project.url | relative_url }}" class="card-list-item-link" data-aos="fade-up" data-tags="{{ project.tags | join: ',' }}">
      <div class="card">
        <div class="card-header">
          {{ project.title }}
        </div>
        <div class="card-body">
          {{ project.desc }}
        </div>
      </div>
    </a>
  {% endfor %}
</div>